<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - {{ config.sitename }}</title>
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css" type="text/css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ config.baseurl }}/rss.xml" />
</head>
<body>
<header>
<h1>{{ config.sitename }}</h1>
<nav>
{{ nav }}
</nav>
</header>
<main>
<article>
<h1>{{ title }}</h1>
{{ body }}
{% if nav2 is defined %}
<nav>
{{ nav2 }}
</nav>
{% endif %}
</article>
</main>
{% if footer is defined %}
<footer>
{{ footer }}
</footer>
{% endif %}
</body>
</html>
